@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");
.App {
  margin: 0 4%;
}

:root {
  --text-color: hsl(216, 18%, 34%);
  --thtext-color: #676c739c;
  --font-family: "Cairo", sans-serif;
  --green: #26a65b;
  --red: #dc3545;
}

* {
  font-family: var(--font-family);
}

.center {
  text-align: center;
}

/* nav */
.track-nav {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 5%;
}

.navbar {
  --bs-navbar-brand-margin-end: 0;
  --bs-navbar-toggler-padding-x: 0;
}

.signin-btn {
  color: inherit;
  border-color: transparent;
}

.signin-btn:hover {
  color: var(--red);
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
}

a.btn.btn-outline-danger {
  border-radius: 20px;
  font-size: 1em;
  font-weight: 700;
}

a.btn.btn-outline-danger:hover {
  text-decoration: underline;
}

a.nav-link:hover {
  color: var(--red);
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-between;
}

.me-auto {
  margin-right: 0 !important;
}

::after {
  margin: 0 5px;
}

/* search */
.form {
  display: flex;
  width: 40%;
  margin: 2% auto 5%;
}

.material-symbols-outlined {
  font-size: 30px;
  color: #fff;
}

input.form-control {
  border-radius: 5px 0 0 5px;
}

.search-btn {
  font-size: 0px;
}

.track-img-container {
  position: relative;
  z-index: 1;
}

.tracking-image {
  width: 550px;
  left: 0;
  top: 300px;
  z-index: -1;
  position: absolute;
}

.fade.toast.show {
  width: fit-content;
  position: absolute;
  top: 35%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.toast-header .btn-close {
  margin: 0 5px;
}

/* track-details */
table {
  border-collapse: collapse;
  text-align: center;
  font-size: 1.1em;
}

.track-details {
  width: 98%;
  margin: 6% 2%;
}

th {
  color: var(--thtext-color);
  vertical-align: top;
}

.track-details td {
  font-weight: 600;
  font-size: 1.2em;
  color: #000;
}

/* Progress bar */
.track-progress {
  width: 85%;
  margin: auto;
}

.progress-des {
  position: absolute;
  width: max-content;
  margin-top: 3rem;
  text-align: center;
}

.progress-details {
  color: var(--red);
  display: block;
}

.check {
  background-color: #fff;
  border-radius: 30px;
  color: rgb(182, 182, 182);
}

.accomplished .delivered {
  color: var(--green);
}

.accomplished .returned {
  color: var(--red);
}

.accomplished .pending {
  color: gray;
}

.indexedStep {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Track body */
.track-body {
  display: flex;
  margin-top: 10rem;
  justify-content: space-around;
}

h5 {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  font-weight: 400;
}

/* Track table */
.track-table {
  margin-bottom: 6%;
}

.track-table td,
.track-table th {
  padding: 10px 25px;
}

.track-table td {
  font-size: 1rem;
}

/* Delivery Details */
.issue {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.report {
  display: flex;
  flex-direction: column;
}

.issue-img {
  width: 150px;
}

/* warning */
.warning-container {
  margin: 0 100px;
}

.warning {
  color: var(--red);
  margin-top: -2px;
}

.warning-msg {
  display: flex;
  justify-content: center;
}

/* MQ */
@media only screen and (max-width: 992px) {
  .tracking-image {
    display: none;
  }
  a.btn.btn-outline-danger {
    width: 70%;
    margin: auto;
  }
  .signin-btn {
    color: inherit;
    border-color: var(--text-color);
  }

  .signin-btn:hover {
    color: #fff;
    border-color: var(--text-color);
    background-color: var(--text-color);
  }

  a.signin-btn.btn.btn-outline-danger {
    margin-bottom: 20px;
  }
  .track-body {
    flex-direction: column;
    text-align: center;
    margin-top: 8rem;
  }
  h5 {
    margin-bottom: 1.5rem;
  }
  table {
    margin: auto;
    width: 90%;
  }
  .track-table td,
  .track-table th {
    padding: 7px 13px;
  }
  .issue {
    justify-content: center;
  }
}

@media only screen and (max-width: 730px) {
  * {
    font-size: 0.95rem;
  }
  .progress-des {
    width: fit-content;
  }
  table {
    margin: auto;
    width: 100%;
  }
  .track-table td,
  .track-table th {
    padding: 7px 5px;
  }
}

@media only screen and (max-width: 400px) {
  * {
    font-size: 0.7rem;
  }
  .track-table td,
  .track-table th {
    padding: 7px 3px;
  }
}
