@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");
.App {
  margin: 0 2%;
}

:root {
  --text-color: #475467;
  --thtext-color: #676c739c;
  --font-family: "Cairo", sans-serif;
}

* {
  color: var(--text-color);
  font-family: var(--font-family);
}

.center {
  text-align: center;
}

/* nav */
.track-nav {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 5%;
}

.signin-btn {
  color: inherit;
  border-color: transparent;
}

.signin-btn:hover {
  color: #dc3545;
  background-color: transparent;
  border-color: transparent;
}

a.btn.btn-outline-danger {
  border-radius: 20px;
  font-size: 1em;
  font-weight: 700;
}

/* search */
.form {
  display: flex;
  width: 40%;
  margin: 2% auto 5%;
}

.material-symbols-outlined {
  font-size: 30px;
  color: #fff;
}

input.form-control {
  border-radius: 5px 0 0 5px;
}

button.btn.btn-danger {
  border-radius: 0 5px 5px 0;
  font-size: 0px;
}

/* background */
.tracking-image {
  margin-top: 50px;
  width: 550px;
  left: 0;
  position: absolute;
}

/* track-details */
table {
  border-collapse: collapse;
  text-align: center;
  font-size: 1.1em;
}

.track-details {
  width: 98%;
  margin: 6% 2%;
}

.track-table td,
.track-table th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 10px 30px;
}

th {
  color: var(--thtext-color);
}

.track-details td {
  font-weight: 600;
  font-size: 1.2em;
  color: #000;
}

/* tr:nth-child(even) {
  background-color: #a73838;
} */

@media only screen and (max-width: 992px) {
  .tracking-image {
    display: none;
  }
  a.btn.btn-outline-danger {
    width: 70%;
    margin: auto;
  }
  .signin-btn {
    color: inherit;
    border-color: var(--text-color);
  }

  .signin-btn:hover {
    color: #fff;
    border-color: var(--text-color);
    background-color: var(--text-color);
  }

  a.signin-btn.btn.btn-outline-danger {
    margin-bottom: 20px;
  }
}
