@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");
/* .App {
  height: 100%;
} */

:root {
  --text-color: #475467;
  --thtext-color: #676c739c;
  --font-family: "Cairo", sans-serif;
}

* {
  color: var(--text-color);
  font-family: var(--font-family);
}

/* nav */
.track-nav {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 5%;
}

a.btn.btn-outline-danger {
  border-radius: 20px;
  font-size: 1em;
  font-weight: 700;
}

/* body */

.center {
  text-align: center;
}

/* .track-body {
  
} */

.tracking-image {
  margin-top: 50px;
  width: 550px;
  left: 0;
  position: absolute;
}

.form {
  display: flex;
  width: 40%;
  margin: 2% auto 5%;
}

input.form-control {
  border-radius: 5px 0 0 5px;
}

button.btn.btn-danger {
  border-radius: 0 5px 5px 0;
}

.tracking-data {
  text-align: center;
}

table {
  border-collapse: collapse;
  text-align: center;
  font-size: 1.1em;
}

.track-details {
  width: 98%;
  margin: 6% 2%;
}

.track-table td,
.track-table th {
  /* border: 1px solid #dddddd; */
  /* text-align: left; */
  padding: 10px 30px;
}

th {
  color: var(--thtext-color);
}

.track-details td {
  font-weight: 600;
  font-size: 1.2em;
  color: #000;
}

/* tr:nth-child(even) {
  background-color: #a73838;
} */

@media only screen and (max-width: 992px) {
  .tracking-image {
    display: none;
  }
}
